<footer>
    <div class="container-fluid mt-3">
        <div class="row text-center bg-dark">
            <div class="col-8">
                <hr>
                <p class="lead">SIGUENOS EN NUESTRAS REDES</p>

            </div>
            <div class="col-4 mt-4 lead">

                <a href="https://www.facebook.com/rapanuichocolates/"><i class="redes bi bi-facebook "></i></a>
                <a href="https://www.instagram.com/chocolates_rapanui/?hl=es-la"><i class="redes bi bi-instagram "></i></a>
                <a href="https://twitter.com/rapanuichoco"><i class="redes bi bi-twitter "></i></a>
            </div>
        </div>
    </div>
</footer>